<div  *ngIf="loading">
  <app-loader></app-loader>
</div>
<div *ngIf="product" class="product_container">
  <div class="product_grid">
  <div>
<img [src]="product.img_link" [alt]="product.name"/>
  </div>
  <div class="product_details">
    <h3 class="product_title text-normal">{{ product.name }}</h3>
    <h3 class="text-bold">{{ product.price | currency }}</h3>

    <h3 class="text-medium mt-4">Seller: </h3>
    <p>{{product.vendor}}</p>

    <h3 class="text-medium mt-4">Weight: </h3>
    <p>{{product.weight}} kg</p>
  </div>
</div>
  <div>
    <div class="details_header"><h3 class="text-medium">Product details</h3> <div *ngIf="isLoggedIn"> <app-edit-product [product]="product"></app-edit-product></div>
    </div>
    <ul *ngFor="let description of product.description">
   <li class="text-base">{{description['value']}}</li>
 </ul>
  </div>
</div>
<!-- <div *ngIf="showEdit"> -->

<!-- </div> -->

