<h1 class="product_title mb-10">Products</h1>
<div *ngIf="(products.length < 1)">
  No Products
</div>
<div class="card_grid">
  <div *ngFor="let product of products" class="card">
  <a [title]="product.name + ' details'" [routerLink]="['/products', product._id]">
    <img [src]="product.img_link" alt="" height="300" width="300"/>
    <h3>{{product.name}}</h3>
    <p class="price">{{product.price | currency}}</p>
  </a>
</div>
</div>
<div *ngIf="isLoggedIn">
  <app-new-product-form></app-new-product-form>
</div>

